html, body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
}

#corpo {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa a altura total da tela */
  max-width: 2000px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid pink;
}

#topo {
  text-align: center;
  padding: 40px 20px 10px 20px; /* aumenta o espaçamento superior */
}

#topo h1 {
  font-size: 36px;
  margin: 0;
}

#menu {
  max-width: 2000px;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid pink;
  color: #888;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.btn-play {
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgb(218, 147, 168);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-play:hover {
  background-color: #444;
}

#conteudo-horizontal {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

#esquerda, #centro, #direita {
  flex: 1;
  min-height: auto;
  background-color: pink;
  border: 2px solid #888;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#esquerda img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
}

#centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffe4ec;
  transition: transform 0.3s ease;
}

#centro img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
}

#direta img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
}

#rodape {
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 30px 0;
  animation: fadeIn 2s ease-in;
  background-color: transparent;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
