html {
    background-color: pink;
}

#corpo {
    border: 5px solid #000000;
    width: 600px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
	}
#topo {
    border: 3px solid black;
    width: auto;
    height: 150px;
}
#centro {
    border: 3px solid black;
    width: auto;
    height: 150px;
}
#direita {
    border: 3px solid black;
    width: auto;
    height: 150px;
}
#esquerda {
    border: 3px solid black;
    width: auto;
    height: 150px;
}
#rodape {
    border: 3px solid black;
    width: auto;
    height: 150px;
}